.cart {
  background: #0f2027;
  background: -webkit-linear-gradient(to left, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
  color: white;
  position: sticky;
  top: 0;
  padding-left: 10px;
}
