.shop {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px 30px;
}
.text {
  background: #3494e6;
  background: -webkit-linear-gradient(to right, #ec6ead, #3494e6);
  background: linear-gradient(to right, #ec6ead, #3494e6);
  color: white;
  margin: 0;
  padding: 20px 0 20px 40px;
}
@media screen and (max-width: 480px) {
  .products-container {
    grid-template-columns: 1fr;
    padding: 5px 5px;
    gap: 10px;
  }
  .shop {
    gap: none;
  }
}
